@Model List<WebAppOfficial.Models.Accesories>
@{
    ViewBag.Title = "GetAllAccesories";
}

<h2>Продукти: </h2>

    <ul>

        @{ 

            int i = 0;
            foreach(var accesories in Model)
            {

                <li>
                    <h4>
                        <img src ="@accesories.ImageUrl" style="max-width:100px" /> 
                        @Html.ActionLink((string)accesories.Name , "ShowAccesories" , new {id = i}) |
                        @Html.ActionLink("Edit", "EditAccesories", new { id = i }) |
                        @Html.ActionLink("Delete", "DeleteAccesories", new { id = i }) |

                    </h4>
                </li>

                i++;
            }


        }


    </ul>

