@model WebAppOfficial.Models.Client

@{
    ViewBag.Title = "ShowClient";
}
<ul>
    <li>
        <h1>@Model.Name - @Model.Surname</h1>

        <h2>@Model.Email - @Model.Address</h2>
    </li>
</ul>


